__pycache__/
*.pyc
/build/
/dist/
*.pkg.tar.zst
*.deb
*.rpm
/linux/packaging/arch/src/
/linux/packaging/arch/pkg/
linux/packaging/out/
linux/packaging/arch/*.pkg.tar.zst
linux/packaging/arch/src/
linux/packaging/arch/pkg/
